body,
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	border: none;
	vertical-align: top;
}
input {
	padding: 0;
	margin: 0;
	outline: none;
}
a {
	text-decoration: none;
}
mark {
	background: none;
}
#louWrap {
	position: absolute;
	left: 300px;
	top: 50px;
	width: 720px;
	height: 490px;
	perspective: 1500px;
	display: none;
	opacity: 0;
}
.louList {
	position: relative;
	z-index: 998;
}
.louPage {
	position: absolute;
	left: 360px;
	top: 0;
	width: 360px;
	height: 490px;
	transition: 3s;
	transform-origin: left 0 0;
	transform-style: preserve-3d;
}
.louPage div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	width: 360px;
	height: 490px;
	background: url(../img/border.png) no-repeat 0 0;
}
.louPage div:nth-of-type(even) {
	transform: rotateY(180deg);
}
.louCenter {
	position: absolute;
	left: 342px;
	top: 65px;
	width: 35px;
	height: 342px;
	background: url(../img/center.png) no-repeat 0 0;
	z-index: 999;
}
.louLeft {
	position: absolute;
	left: 0;
	top: 0;
	width: 360px;
	height: 490px;
	background: url(../img/border.png) no-repeat 0 0;
	z-index: 1;
}
.louLeft img {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 320px;
	height: 450px;
}
.louRight {
	position: absolute;
	left: 360px;
	top: 0;
	width: 360px;
	height: 490px;
	background: url(../img/border.png) no-repeat 0 0;
}
.louRight img {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 320px;
	height: 450px;
}
#louWrap input {
	position: absolute;
	width: 25px;
	height: 490px;
	top: 0;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}
#louWrap input:nth-of-type(1) {
	left: 695px;
}
#louWrap input:nth-of-type(2) {
	left: 0;
}
#louWrap a {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -30px;
	cursor: pointer;
	opacity: .3;
}
#louWrap a:nth-of-type(1) {
	left: 650px;
	background: url(../img/icon3.png) no-repeat 0 0;
}
#louWrap a:nth-of-type(2) {
	left: 690px;
	background: url(../img/icon1.png) no-repeat 0 0;
}
.louShow {
	position: absolute;
	left: 55px;
	top: 30px;
	width: 250px;
	height: 195px;
}
.louShow img {
	width: 250px;
	height: 195px;
}
.louBottom {
	position: relative;
	left: 29px;
	top: 300px;
	width: 300px;
	height: 80px;
	overflow: hidden;
}
.louShowList {
	position: absolute;
	left: 0;
	top: 0;
	height: 80px;
	width: 400%;
}
.louShowList li {
	float: left;
	width: 90px;
	height: 70px;
	margin: 5px;
}
.louShowList li img {
	width: 90px;
	height: 70px;
}
.louMark {
	position: absolute;
	top: 400px;
	width: 100px;
	height: 50px;
	cursor: pointer;
}
.louMark:nth-of-type(1) {
	left: 50px;
	background: url(../img/markLeft.png) no-repeat 0 0;
}
.louMark:nth-of-type(2) {
	left: 200px;
	background: url(../img/markRight.png) no-repeat 0 0;
}
.louPhoto1,
.louPhoto2,
.louPhoto3,
.louPhoto4,
.louPhoto5,
.louPhoto6,
.louPhoto7 {
	position: relative;
	width: 317px;
	height: 446px;
	margin-left: 20px;
	margin-top: 20px;
}
.louPhoto1 li{
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 100px;
}
.louPhoto1 li img {
	width: 150px;
	height: 100px;
}
.louPhoto2 li,
.louPhoto3 li,
.louPhoto4 li,
.louPhoto5 li,
.louPhoto6 li,
.louPhoto7 li{
	position: absolute;
}
.louPhoto2 li:nth-of-type(1) {
	left: 20px;
	top: 10px;
	width: 280px;
	height: 200px;
}
.louPhoto2 li:nth-of-type(1) img {
	width: 280px;
	height: 200px;
}
.louPhoto2 li:nth-of-type(2) {
	left: 10px;
	top: 240px;
	width: 140px;
	height: 200px;
}
.louPhoto2 li:nth-of-type(2) img {
	width: 140px;
	height: 200px;
}
.louPhoto2 li:nth-of-type(3) {
	left: 170px;
	top: 240px;
	width: 140px;
	height: 200px;
}
.louPhoto2 li:nth-of-type(3) img {
	width: 140px;
	height: 200px;
}
.louPhoto3 li:nth-of-type(1) {
	left: 70px;
	top: 10px;
	width: 160px;
	height: 200px;
}
.louPhoto3 li:nth-of-type(1) img {
	width: 160px;
	height: 200px;
}
.louPhoto3 li:nth-of-type(2) {
	left: 20px;
	top: 240px;
	width: 280px;
	height: 200px;
}
.louPhoto3 li:nth-of-type(2) img {
	width: 280px;
	height: 200px;
}
.louPhoto4 li:nth-of-type(1) {
	left: 10px;
	top: 10px;
	width: 140px;
	height: 200px;
}
.louPhoto4 li:nth-of-type(1) img {
	width: 140px;
	height: 200px;
}
.louPhoto4 li:nth-of-type(2) {
	left: 170px;
	top: 10px;
	width: 140px;
	height: 200px;
}
.louPhoto4 li:nth-of-type(2) img {
	width: 140px;
	height: 200px;
}
.louPhoto4 li:nth-of-type(3) {
	left: 20px;
	top: 240px;
	width: 280px;
	height: 200px;
}
.louPhoto4 li:nth-of-type(3) img {
	width: 280px;
	height: 200px;
}
.louPhoto5 li:nth-of-type(1) {
	left: 20px;
	top: 10px;
	width: 280px;
	height: 200px;
}
.louPhoto5 li:nth-of-type(1) img {
	width: 280px;
	height: 200px;
}
.louPhoto5 li:nth-of-type(2) {
	left: 70px;
	top: 240px;
	width: 160px;
	height: 200px;
}
.louPhoto5 li:nth-of-type(2) img {
	width: 160px;
	height: 200px;
}
.louPhoto6 li:nth-of-type(1) {
	left: 10px;
	top: 20px;
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(1) img {
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(2) {
	left: 170px;
	top: 20px;
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(2) img {
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(3) {
	left: 10px;
	top: 250px;
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(3) img {
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(4) {
	left: 170px;
	top: 250px;
	width: 140px;
	height: 180px;
}
.louPhoto6 li:nth-of-type(4) img {
	width: 140px;
	height: 180px;
}
.louPhoto7 li:nth-of-type(1) {
	left: 20px;
	top: 10px;
	width: 280px;
	height: 200px;
}
.louPhoto7 li:nth-of-type(1) img {
	width: 280px;
	height: 200px;
}
.louPhoto7 li:nth-of-type(2) {
	left: 20px;
	top: 240px;
	width: 280px;
	height: 200px;
}
.louPhoto7 li:nth-of-type(2) img {
	width: 280px;
	height: 200px;
}