	*{
		padding: 0;
		margin: 0;
		list-style: none;
		box-sizing: border-box;
	}
	@keyframes  rotate{
			0%{
				transform:rotateZ(0deg);
			}
			100%{
				transform:rotateZ(-360deg);
			}
		}
	body{
		background:url(../img/sky.jpg) no-repeat;
		background-size:100% auto;
		color: #fff;
	}
		#warp{
			width: 360px;
			height: 500px;
			position: relative;
			margin: 30px auto;
			background: rgba(0,0,0,.8);
			border: rgba(0,0,0,7);
			box-shadow: 0 0 30px #eee;
		}
		
		#warp .Wai{
		 	
			width: 355px;
			
		}
		#warp .Wai .mack{
			width: 100%;
			text-align: center;
			height: 30px;
			background: #000;
			opacity: .4;
			display: inline-block;
		}
		#warp .arcChange{
			width: 100%;
			height: 200px;
			background: url(../img/bagd.jpg) center center no-repeat;
			transform: translate(-180px,-300px);
		}
	#warp #backG{
			transition: .5;
			background: url(../img/bagd.jpg) center center no-repeat;
			background-size:cover;
			background-color: #000;
			position: absolute;
			position: absolute;
			top: 50%;
			left: 50%;
			
		}
	    #warp .arc{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50%;
			padding-bottom: 50%;
			background-color: #000;
			border-radius: 50%;
			animation: 5s rotate infinite linear;
			margin: -90px 0 0 -90px;
			
		 }
		 .hide{
		 	display: none;
		 }
	 	#warp .tit{
		 	position: absolute;
		 	top: 50%;
			left: 50%;
			width: 100%;
			height: 20px;
			color: #fff;
			line-height:30px;
			font: 14px/30px "微软雅黑";
			text-align: center;
			transition: 1s;
			transform: translate3d(-50%,-800%, 0);
		}
		
		 #warp .cons{
				font-size: 16px;
		}
		 #warp .play{
		 	position: absolute;
		 	top: 45%;
		 	left: 45%;
		 	text-align: center;
		 	background: #EF5350;
		 	width: 50px;
		 	height: 50px;
		 	border-radius: 50%;
		 	text-align: center;
		 	transition: .5s;
		 }
		 #warp .play a{
		    width: 30px;
		    height: 30px;
		   	display: inline-block;
		   	
		  }
		 #warp  #canvas{
		  	transform: rotateZ(107deg);
		  }
		.wShow{
			display: inline-block;
			content: "";
			width:15px;
			height: 25px;
			border-right: 5px solid #fff;
			border-left: 5px solid #fff;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    margin: -15px 0 0 -15px;
			 transition: .5s;
			 transform: rotateZ(180)
		}
		.wAfter{
			display: inline-block;
			content: "";
			width: 0;
		    height: 0;
		    border-top: 15px solid transparent;
		    border-left: 30px solid #fff;
		    border-bottom: 15px solid transparent;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin: -15px 0 0 -11px;
		    transition:.5s;
		    transform: rotateZ(-180)
		}
		#warp .contrl{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size:14px ;
			text-align: center;
			
		}
		#warp .contrl a{
			position: relative;
			width:70px;
			display: inline-block;
			text-align: center;
			font: 14px/40px "微软雅黑";
			padding-bottom: 60px;
			display: inline-block;
			height: 20px;
			
		}
	#warp .contrl a:nth-of-type(1){
		background: url(../img/left.png) no-repeat;
	}
	
	#warp .contrl a:nth-of-type(2){
		background: url(../img/left.png) no-repeat;
		transform: rotateY(180deg);
	}
	#warp .songlist{
		position: absolute;
		top: 210px;
		left: 0;
		width: 360px;
		/*margin-top: 30px;*/
		background: #212121;
		color: #fff;
		display: none;
		opacity: .6;
	}
	.songlist .song{
			padding-left: 20px;
			margin-bottom: 8px;
			height: 40px;
			
		}
		.songlist .song:hover{
			cursor: pointer;
		}
        .songlist .song .covar {
        	background: url(../img/bagd.jpg) no-repeat;
        	background-position: 50% 50%;
        	background-size: 100% 100%;
        	height: 35px;
        	width: 35px;
        	float: left;
        }
        .songlist .song .RT {
        	height: 35px;
        	width: 100px;
        	float: left;
        	color: #fff;
        	margin-left:10px;
        	font-size: 12px;
        	font-family: "微软雅黑";
        }
        .song .RT .name{
        	font-size: 14px;
        	 font-weight:bold
        } 
        
